In [13]:
import pandas as pd
import numpy as np
from collections import Counter

from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from xgboost.sklearn import XGBClassifier

from nltk.corpus import stopwords
import string
import re
from bs4 import BeautifulSoup
import string
from unicodedata import normalize as norm

In [7]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [2]:
DATASET_COLUMNS = ["target", "ids", "date", "flag", "user", "text"]
DATASET_ENCODING = "ISO-8859-1"
TRAIN_SIZE = 0.8

In [3]:
df = pd.read_csv('../data/sentiment140/training.1600000.processed.noemoticon.csv', encoding =DATASET_ENCODING , names=DATASET_COLUMNS)

In [4]:
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [8]:
def cleaning_text(text):
    
    text = text.lower()
    
    text = re.sub('(\\n)+', ' ', text)
    
    text = ' '.join([word for word in text.split() if word not in stopwords.words('portuguese')])
    
    text = norm('NFKD', text).encode('ascii', 'ignore').decode()
    
#     text = ''.join([char for char in text if char not in string.punctuation])
    
    return text

In [9]:
Counter(df['target'])
# 0 - Negative
# 4 - Positive

Counter({0: 800000, 4: 800000})

In [ ]:
df['text_clean'] = df['text'].apply(cleaning_text)